<div class="messaging-panel">
  <div class="message-header">
    <div class="tag">ORDEN DE TRABAJO</div>
    <div class="title">CAMBIO DE ACEITE</div>
    <div class="code">TTRF54#27</div>
    <a class="view-link">Ver</a>
  </div>
  <div class="chat-area">
    <div>
        conversación
    </div>    
  </div>
  <div class="chat-input">
    <button>
        <mat-icon fontIcon="attach_file"></mat-icon>
    </button>
    <button (click)="openDialog()">
        <mat-icon fontIcon="attach_money"></mat-icon>
    </button>
    <input type="text" placeholder="Escribe un mensaje...">    
    <button>
        <mat-icon fontIcon="camera_alt"></mat-icon>
    </button>
    <button>
        <mat-icon fontIcon="send"></mat-icon>
    </button>
  </div>
</div>