<div class="calendar-wrapper">
    <div class="header">
        <span class="menu-icon">☰</span>
        <span class="title">Agendamientos</span>    
    </div>
    <div class="status-legend">
        <span class="dot green"></span> Ingresado
        <span class="dot blue"></span> Confirmado
        <span class="dot red"></span> No Ingresado
        <span class="dot yellow"></span> Reagendado
        <div class="nav-icons">
            <mat-icon fontIcon="search"></mat-icon>
            <mat-icon fontIcon="west"></mat-icon> 
            <mat-icon fontIcon="east"></mat-icon>
        </div>
    </div>
  
    <div class="calendar-body">    
        <table>
            <thead>
                <tr>
                <th *ngFor="let day of ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sabado', 'domingo']">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of [0, 1, 2, 3, 4]">
                <td *ngFor="let day of [1, 2, 3, 4, 5, 6, 7]">
                    <div class="day">{{ week * 5 + day }}</div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>